.record {

}

.card {
    max-height: 250px;
    overflow: hidden;
    white-space: pre-wrap;
    text-overflow: ellipsis;
}

.card-expanded {
    overflow: hidden;
    white-space: pre-wrap;
    text-overflow: ellipsis;
}


.more-info-button {
    text-align: center;
    font-size: 15px;
    font-family: 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: 1px solid black;
    background-color: #F5F5F5;
    width: 200px;
    margin-bottom: 10px;
}

.collapse-button {
    text-align: center;
    width: 200px;
    margin-bottom: 10px;
    background-color: #F5F5F5;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: 1px solid black;

}

.button {
    text-align: center;
}

.column-name {
    font-weight: bold;
}

.column-content {

}

.no-img {
    display: none;
}

.img-elem {
    width: 100%; 
    height: 100%; 
    border-radius: 50%;
}

.img-container {
    display: inline-block;
    float: left;
    width: 70px;
    height: 70px;
    margin-bottom: 5px;
    margin-top: 7px;
    margin-right: 6px;
    margin-left: 2px;
}

.img-as-content {
    width: 180px;
}

.header {
    float: right;
    width: 100px;
    word-wrap: break-word;
}

.header-no-image {
    word-wrap: normal;
    width: 180px;
}

.title {
    font-size: 15px;
    font-family: 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.email-header {
    font-size: 12px;
    font-family: 'HelveticaNeue', Helvetica, Arial, sans-serif;
}

.card-content {
    clear: both;
}

.element {
    word-wrap: break-word;
}

.info {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    height: inherit;
    background-color: #F5F5F5;
    overflow: hidden;
    white-space: pre-wrap;
    text-overflow: ellipsis;
}

.sync {
    overflow: hidden;
    background-color: #F5F5F5;
    width: 200px;
    margin-bottom: 5px;
    margin-top: -5px;
}

.time-stamp {
    float: left;
    margin: 5px;
}

.sync-button {
    float: right;
    margin: 5px;
}

.mail-to-icon {
    width: 17px;
    margin-left: 5px;
}
