.record {
    border: 1px solid rgb(215, 215, 215);
    margin-bottom: 10px;
}

    .card {
        width: 220px;
        overflow: hidden;
        white-space: pre-wrap;
        text-overflow: ellipsis;
    }

    .card-expanded { /* STATE CHANGE */
        overflow: hidden;
        width: 220px;
        white-space: pre-wrap;
        text-overflow: ellipsis;
    }
        
        .card-content {
            padding: 5px;
            padding-left: 10px;
            padding-right: 10px;
            height: inherit;
            overflow: hidden;
            white-space: pre-wrap;
            text-overflow: ellipsis;
        }

        .card-top {
            padding-bottom: 5px;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 0px;
            height: inherit;
            overflow: hidden;
            white-space: pre-wrap;
            text-overflow: ellipsis;
        }

        .card-bottom {
            padding-bottom: 5px;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 0px;
            width: 198px;
            overflow: hidden;
            white-space: pre-wrap;
            text-overflow: ellipsis;
            display: none;
            border-top: 1px solid rgb(215, 215, 215);
        }


            .img-container {
                box-shadow: 0 -1px 0 0 rgba(0,0,0,0.05),
                        -1px 0 0 0 rgba(0,0,0,0.1),
                        1px 0 0 0 rgba(0,0,0,0.1),
                        0 1px 0 0 rgba(0,0,0,0.25);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                width: 70px;
                height: 70px;
                float: left;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                margin-bottom: 5px;
                margin-top: 10px;
                margin-right: 10px;
                margin-left: 0px;
            }

            .img-container.mod-no-image {
                display: none;
            }

                .img-content {
                    width: 200px;
                    box-shadow: 0 -1px 0 0 rgba(0,0,0,0.05),
                        -1px 0 0 0 rgba(0,0,0,0.1),
                        1px 0 0 0 rgba(0,0,0,0.1),
                        0 1px 0 0 rgba(0,0,0,0.25);
                }

                .img-content-grid {
                    display: inline-block;
                    height: 60px;
                    width: 60px;
                    margin-right: 6px;
                    margin-bottom: 3px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    box-shadow: 0 -1px 0 0 rgba(0,0,0,0.05),
                        -1px 0 0 0 rgba(0,0,0,0.1),
                        1px 0 0 0 rgba(0,0,0,0.1),
                        0 1px 0 0 rgba(0,0,0,0.25);
                }

            .header {
                float: right;
                width: 118px;
                word-wrap: break-word;
                margin-top: 15px;
            }

            .header.mod-no-image {
                word-wrap: normal;
                width: 200px;
                margin-left: 10px;
                margin-top: 0px;
            }

                .header-title {
                    font-size: 17px;
                    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                    padding-top: 9px;
                    color: #000000;
                }

                .header-title.mod-no-image {

                }

                .header-email {
                    font-size: 13px;
                    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                }

                .header-email.mod-no-image {

                }

                .header-email.mod-non-email-type {
                    padding-top: 3px;
                }

            .element {
                clear: both;
                word-wrap: break-word;
                padding-top: 19px;
            }

            .element.mod-image-present { /* make sure the first element is */
                padding-top: 10px;        /* not too far below the image */
            }

            .element.mod-last-elem {
                padding-bottom: 15px;
            }

            .element.mod-last-in-top {
                padding-bottom: 0px;
            }

                .element-name {
                    color: #828282;
                    font-size: 11px;
                    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                }

                .element-content {
                    color: #464646;
                    font-size: 12px;
                    padding-top: 5px;
                    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                }

        .card-button {
            background-color: #FFFFFF;
            border-top: 1px solid rgb(215, 215, 215);
            padding-top: 5px;
            width: 218px;
            margin-left: -10px;
            margin-top: -1px;
            text-align: center;
        }

            .extension-options {
                display: inline-block;
                margin: 0 auto;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-size: 13px;
                border: none;
                padding: 5px;
                background-color: #FFFFFF;
                color: rgb(50, 132, 247);
            }

            button.extension-options:focus {
                outline: 0;
            }

    .see-more-button {
        position: relative;
        background-color: #FFFFFF;
        color: rgb(50, 132, 247);
        text-align: center;
        font-size: 14px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 400;
        border-left: none;
        border-right: none;
        border-top: 1px solid rgb(215, 215, 215);
        border-bottom: none;
        width: 218px;
        margin-top: 10px;
        margin-bottom: 0px;
        padding: 10px;
    }

    button.see-less-button:focus {
        outline: 0;
    }

    button.see-more-button:focus {
        outline: 0;
    }

.update {
    overflow: hidden;
    width: 200px;
    margin-top: -1px;
    margin-bottom: 5px;
    padding: 5px 9px;
    border: 1px solid rgb(215, 215, 215);
}

    .update-time-stamp {
        float: left;
        margin: 5px;
        padding-top: 2px;
    }

    .update-button {
        float: right;
        margin: 5px;
    }

/* Misc classes: */

.mail-to-icon {
    width: 17px;
    margin-left: 5px;
    vertical-align: middle;
}

.airtable-gmail-ext-icon-file-alt {
    margin-right: 5px;
    display: block;
    margin-bottom: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 15px;
}

.loading-gif {
    display: inline-block;
    margin: 0 auto;
    width: 50px;
    padding: 30px;
    margin: 0 50px;

}

a {
    color: rgb(50, 132, 247);
    text-decoration: none;
}

/* CSS for the waiting sidebar */
.waiting-message {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 10px;
}

/* CSS for the error sidebar */

.card-button.mod-error {
    margin-bottom: 10px;
    margin-left: 0px;
    border-left: 1px solid rgb(215, 215, 215);
    border-right: 1px solid rgb(215, 215, 215);
    border-bottom: 1px solid rgb(215, 215, 215);
    background-color: #FFFFFF;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 218px;
    text-align: center;

}

    .extension-options.mod-error { 
        display: inline-block;
        margin: 0 auto;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 13px;
        border: none;
        padding: 5px;
        background-color: #FFFFFF;
        color: rgb(50, 132, 247);
    }

    .card-error-message {
        font-size: 13px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        padding: 15px;
        margin: 0px;
        border: 1px solid rgb(215, 215, 215);
    }
