#separator {

}

.record {
/*  padding: 3px;
    margin-left: 3px;*/
}

.compact {
    /*height: 300px;*/
    margin-bottom: 20px;
}

.expanded {
    margin-bottom: 10px;
    word-wrap: break-word;
}

#button-link {
    background: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid blue;
    padding: 0px;
    color: blue;
}

#info {
    border: 1px solid #B8B8B8;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.45);
    /*overflow: auto;*/
    /*width: 188px;*/
    height: inherit;
    background-color: #F5F5F5;
}

#extension-options {
    text-align: center;
}

#first-elem {
    overflow: auto;
    font: 12px Arial, sans-serif;
    font-weight: bold;
    float: right;
    width: 50%;
    margin-bottom: 2px;
    margin-left: 10px;
}

#img-elem {
    float: left;
    width: 70px;
    height: 70px;
    max-width: 30%;
    max-height: 100%;
}

#inner-elems {
    clear: left;
    width: 70%;
    height: 65%;
}

#left-elem {
    overflow: auto;
    padding-right: 3px;
    padding-left: 3px;
    margin-left: 3px;
    max-width: 25%;
    height: 100%;
    float: left;
    font: 12px Arial, sans-serif;
}

#middle-elem {
    overflow: auto;
    padding-right: 3px;
    padding-left: 3px;
    margin-left: 3px;
    max-width: 25%;
    height: 100%;
    border-right: 1px solid black;
    border-left: 1px solid black;
    float: left;
    font: 12px Arial, sans-serif;
}

#right-elem {
    overflow: auto;
    padding-right: 3px;
    padding-left: 3px;
    margin-left: 3px;
    max-width: 25%;
    height: 100%;
    float: left;
    font: 12px Arial, sans-serif;
}

#extension-options {

}

#button {
    text-align: center;
}